wsdl/product.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ProductService"
             targetNamespace="http://www.example.org/ProductService/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.example.org/ProductService/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://www.example.org/ProductService/">
      <xsd:element name="createProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="price" type="xsd:float"/>
            <xsd:element name="inStock" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- New Elements for getProduct, updateProduct, deleteProduct -->
      <xsd:element name="getProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="product" type="tns:Product"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="price" type="xsd:float"/>
            <xsd:element name="inStock" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- Define the Product Type -->
      <xsd:complexType name="Product">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="price" type="xsd:float"/>
          <xsd:element name="inStock" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="createProductRequest">
    <part name="parameters" element="tns:createProductRequest"/>
  </message>
  <message name="createProductResponse">
    <part name="parameters" element="tns:createProductResponse"/>
  </message>
  
  <message name="getProductRequest">
    <part name="parameters" element="tns:getProductRequest"/>
  </message>
  <message name="getProductResponse">
    <part name="parameters" element="tns:getProductResponse"/>
  </message>
  <message name="updateProductRequest">
    <part name="parameters" element="tns:updateProductRequest"/>
  </message>
  <message name="updateProductResponse">
    <part name="parameters" element="tns:updateProductResponse"/>
  </message>
  <message name="deleteProductRequest">
    <part name="parameters" element="tns:deleteProductRequest"/>
  </message>
  <message name="deleteProductResponse">
    <part name="parameters" element="tns:deleteProductResponse"/>
  </message>

  <portType name="ProductPortType">
    <operation name="createProduct">
      <input message="tns:createProductRequest"/>
      <output message="tns:createProductResponse"/>
    </operation>
    
    <operation name="getProduct">
      <input message="tns:getProductRequest"/>
      <output message="tns:getProductResponse"/>
    </operation>
    <operation name="updateProduct">
      <input message="tns:updateProductRequest"/>
      <output message="tns:updateProductResponse"/>
    </operation>
    <operation name="deleteProduct">
      <input message="tns:deleteProductRequest"/>
      <output message="tns:deleteProductResponse"/>
    </operation>
  </portType>

  <binding name="ProductBinding" type="tns:ProductPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createProduct">
      <soap:operation soapAction="createProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="getProduct">
      <soap:operation soapAction="getProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateProduct">
      <soap:operation soapAction="updateProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteProduct">
      <soap:operation soapAction="deleteProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="ProductService">
    <port name="ProductPort" binding="tns:ProductBinding">
      <soap:address location="https://localhost:3000/soap"/>
    </port>
  </service>
</definitions>
